@font-face {
    font-family: 'Concorde';
    src: url('ConcordeBQ-Regular.woff2') format('woff2'),
        url('ConcordeBQ-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

